<h1>Welcome to Recipe Page </h2>
  <h2><%= @recipe.name %></h2>
<h3><%= @recipe.ingredients %></h3>
<h3><%= @recipe.cook_time %></h3>
<form action="/recipes/<%=@recipe.id%>/delete" method="POST">
<input id="hidden" type="hidden" name="_method" value="delete">
<a href="/recipes/<%=@recipe.id%>/delete"> Delete this recipe </a>
</form>

<h1>Welcome to Recipe Page </h2>\n  <h2>Bomb.com Mac and Cheese</h2>\n<h3>milk, butter, cheese, elbo...me=\"_method\" value=\"delete\
">\n<a href=\"/recipes/1/delete\"> Delete this recipe </a>\n</form>\n" to include "<input id=\"hidden\" type=\"hidden\" name=\"_method\" value=\"delet
e\">"
